<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据泄露</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- <meta http-equiv="Cache-Control" content="max-age=7200" /> -->
    <!-- <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"> -->
    <link rel="stylesheet" href="/static/proj/dist/css/monitor.css">
    <style>
      td{
       cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- Content Wrapper. Contains page content -->
     <div class="">
      <!-- Main content -->
      <section class="content monitor">
        <div class="row">
          <div class="col-md-12">
             <!--      |||||||||||||| --->

 <!-- 拓扑图 -->
             <div id="topo" style="width:100%;">
              <!-- <iframe src="http://192.168.0.110:7777/jtopo/test_index" frameborder="0" scrolling="no" id="topo" style="margin-top:30px;" ></iframe> -->
              <div id="contentc" style="width:100%;height:100%">
                <canvas id="canvas" ></canvas>
              </div>


              <div class="modal fade" id="topoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              </div>
  <style>
    .dialog{
        /*width: 240px;*/
        max-height:400px;
        /*min-height: 165px;*/
        border: 1px solid #8E8E8F;
        border-radius: 3px;
        box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);
        position: absolute;
        background-color: white;
        padding: 10px;
        overflow: auto;
        z-index: 99;
    }
    .dialog h5{
      font-weight: 700;
      font-size: 16px;
      margin-left: 5px;
    }
    .dialog span{
      margin-left: 5px;
      margin-right: 5px;
      font-weight: 400 !important;
    }
    .gongji td:nth-child(2){
        color: #dd4b39;
    }

</style>

                 <div id="dialog" class="dialog" style="display: none;"></div>

                 <script>

    function  jump_to_detail(eid) {
        console.log(eid)
        $.ajax({
            url: "/proj/pages/warningdetail.html?id=" + eid,
            type: "get",
            dataType: "html",
            //data: q,
            success: function (msg) {
                // 验证签收的状态
                   $.ajax({
                       url: "/proj/user_event_click/",
                       type: "get",
                       dataType: "text",
                       success: function (res) {
                          console.log(res)
                       }
                   })
                //

                $("#content").html(msg);

            }
        })
    }
                 </script>

</div>

              <!-- ||||||  -->
          </div>
        </div>

      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
  </body>
  <script>
   $.fn.dataTable.ext.errMode = 'none';

    // $.ajax({
    //     url: "http://192.168.0.103:90/task/scantask?task_type=1",
    //     type:"get",
    //     dataType:"json",
    //     // data: q,
    //     success:function(data){
    //       var str = eval(data.results);
    //       console.log(str);
    //       $("#scen").text(str[0][1]);
    //       $("#bar").css("width",str[0][2]+"%");
    //       $("#bar_text").text(str[0][2]+"% 完成")
    //       $("#all").text(str[0][3]);
    //       $("#disposal1").text(str[0][4][0]);
    //       $("#disposal2").text(str[0][4][1]);
    //       $("#disposal3").text(str[0][4][2]);
    //       var result_data=formatSeconds(str[1]);
    //       down(result_data);

    //   }
    // })

    // 进度条
    var timecount=setInterval("bar()",100000);
    function bar(){
      // $.ajax({
      //     url: "http://192.168.0.103:90/task/scantask?task_type=1",
      //     type:"get",
      //     dataType:"json",
      //     success:function(data){
      //       var str = eval(data.results);
      //       $("#bar").css("width",str[0][2]+"%");
      //       $("#bar_text").text(str[0][2]+"% 完成")
      //   }
      // })
    }


      //倒计时
      var h;
      var m;
      var s;
      var showDiv;
      var timecount;
      function down(result_data){
        window.clearInterval(timecount);
        showDiv=document.getElementById("showDiv");
        h=result_data[2];
        m=result_data[1];
        s=result_data[0];
        if(s==0 & m==0 & h==0){
          showDiv.innerHTML="00:00:00";
        }else{
          timecount=setInterval("countdown()",1000);
        }

      }

        //进行倒计时显示
        function countdown(){
            --s;
            if(s<0){
                --m;
                s=59;
            }
            if(m<0){
                --h;
                m=59
            }
            if(h<0){
                s=0;
                m=0;
            }
            showDiv.innerHTML=checkTime(h)+":"+checkTime(m)+":"+checkTime(s);
        }


        function checkTime(i){ //将0-9的数字前面加上0，例1变为01
           if(i<10)
           {
            i = "0" + i;
           }
           return i;
          }



  // 详情
  var parames_r=["scanning"]
  $("#more").click(function(event) {
      in_route("scanning",parames_r);
  });
  $("small[name=gaowei]").click(function(event) {
      in_route("scanning",parames_r)
  });

  // 攻击威胁
  var parames_list=["warning"]
  $("#gongjiweix").click(function(event) {
      in_route("warning",parames_list)
    });

  // 高危
  var parames=["m"]
  $("table tr td").click(function(){
    in_route("warningdetail",parames);
  })
  </script>
<script type="text/javascript" src="/static/jtopot/dj_topo/home.js"></script>
</html>