<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据泄露</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- <meta http-equiv="Cache-Control" content="max-age=7200" /> -->
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- <script src="../dist/js/echarts.js"></script> -->
    <style>
      .nav-tabs>li>a{
        color:#444;
        font-weight: 700;
      }
      .nav-tabs>li.active>a{
        color:#357ca5;
      }
    </style>
  </head>
  <body>
        <div class="pad margin no-print no-top">
          <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4>内部IP</h4>
            103.25.36.95
          </div>
        </div>
        <!-- Main row -->
        <div class="row">
          <section class="col-lg-6 connectedSortable">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">巡检隐患列表</h3>
              </div><!-- /.box-header -->
              <div class="box-body tab-hight2">
                <dl class="dl-horizontal">
                  <dt>最后扫描时间</dt>
                  <dd>12:43</dd>
                </dl>
                <table id="tab1" class="table table-bordered table-striped"></table>
              </div>
            </div><!-- /.box -->
          </section><!-- /.Left col -->
           <section class="col-lg-6 connectedSortable">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">历史预警</h3>
              </div><!-- /.box-header -->
              <div class="box-body tab-hight2">
                <table id="tab2" class="table table-bordered table-striped "></table>
              </div>
            </div><!-- /.box -->
          </section><!-- /.Left col -->
        </div><!-- /.row (main row) -->
        <div class="row">
          <section class="col-lg-12 connectedSortable">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">敏感数据</h3>
              </div><!-- /.box-header -->
              <div class="box-body tab-hight1">
                <table id="tab3" class="table table-bordered table-striped"></table>
              </div>
            </div><!-- /.box -->
          </section><!-- /.Left col -->
        </div><!-- /.row (main row) -->
        <div class="row">
          <section class="col-lg-6 connectedSortable">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">24小时流量</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div id="chart1" style="width:100%;height:300px;"></div>
              </div>
            </div><!-- /.box -->
          </section><!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6 connectedSortable">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">时间点流量</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div id="chart2" style="width:100%;height:300px;"></div>
              </div>
            </div><!-- /.box -->
          </section><!-- right col -->
        </div><!-- /.row (main row) -->
  </body>
  <script> 

    // chart1
    var myChart = echarts.init(document.getElementById('chart1'));
      var base = +new Date(1968, 9, 3);
      var oneDay = 24 * 3600 * 1000;
      var date = [];

      var data = [Math.random() * 300];

      for (var i = 1; i < 20000; i++) {
          var now = new Date(base += oneDay);
          date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
          data.push(Math.round((Math.random() - 0.5) * 20 + data[i - 1]));
      }

      option = {
          tooltip: {
              trigger: 'axis',
              position: function (pt) {
                  return [pt[0], '10%'];
              }
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: date
          },
          yAxis: {
              type: 'value',
              boundaryGap: [0, '100%']
          },
        
          series: [
              {
                  name:'模拟数据',
                  type:'line',
                  smooth:true,
                  symbol: 'none',
                  sampling: 'average',
                  itemStyle: {
                      normal: {
                          color: 'rgb(255, 70, 131)'
                      }
                  },
                  areaStyle: {
                      normal: {
                          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                              offset: 0,
                              color: 'rgb(255, 158, 68)'
                          }, {
                              offset: 1,
                              color: 'rgb(255, 70, 131)'
                          }])
                      }
                  },
                  data: data
              }
          ]
      };

    myChart.setOption(option);



    // chart2
    var myChart = echarts.init(document.getElementById('chart2'));
      var base = +new Date(1968, 9, 3);
      var oneDay = 24 * 3600 * 1000;
      var date = [];

      var data = [Math.random() * 300];

      for (var i = 1; i < 20000; i++) {
          var now = new Date(base += oneDay);
          date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
          data.push(Math.round((Math.random() - 0.5) * 20 + data[i - 1]));
      }

      option = {
          tooltip: {
              trigger: 'axis',
              position: function (pt) {
                  return [pt[0], '10%'];
              }
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: date
          },
          yAxis: {
              type: 'value',
              boundaryGap: [0, '100%']
          },
        
          series: [
              {
                  name:'模拟数据',
                  type:'line',
                  smooth:true,
                  symbol: 'none',
                  sampling: 'average',
                  itemStyle: {
                      normal: {
                          color: 'rgb(255, 70, 131)'
                      }
                  },
                  areaStyle: {
                      normal: {
                          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                              offset: 0,
                              color: 'rgb(255, 158, 68)'
                          }, {
                              offset: 1,
                              color: 'rgb(255, 70, 131)'
                          }])
                      }
                  },
                  data: data
              }
          ]
      };

    myChart.setOption(option);


     // 隐患列表
    var arr=[
              ["2017/08/21","交通","192.168.36.3","192.36.53.98","445"],
              ["2017/09/08","交通","192.5.6.3","192.5.3.6","223"],
              ["2017/09/10","交通","187.23.45.6","136.3.6.9","8808"],
              ["2017/09/10","交通","187.23.45.6","136.3.6.9","8808"],
              ["2017/09/12","交通","192.168.0.1","187.23.45.6","112"],
              ["2017/09/12","交通","192.168.0.1","187.23.45.6","112"],
              ["2017/09/14","交通","192.168.0.1","187.23.45.6","224"],
              ["2017/09/15","交通","192.168.0.1","187.23.45.6","1120"],
    ]
    $('#tab1').DataTable( {
            ordering: false,
            data: arr,
            aLengthMenu: [5,10, 25, 50],
            columns: [
                { title: "时间" },
                { title: "数据类型" },
                { title: "泄漏源" },
                { title: "流向IP"},
                { title: "端口"},
            ],
            oLanguage : {
                    "sProcessing" : "正在加载中......",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有数据！",
                    "sEmptyTable" : "表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "显示0到0条记录",
                    "sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
                    "sSearch" : "搜索",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                }
        } );


    // 历史预警
    var arr1=[
              ["2017/08/21","交通","192.168.36.3","192.36.53.98","445"],
              ["2017/09/08","交通","192.5.6.3","192.5.3.6","223"],
              ["2017/09/10","交通","187.23.45.6","136.3.6.9","8808"],
              ["2017/08/11","交通","192.168.0.1","187.23.45.6","443"],
              ["2017/09/12","交通","192.168.0.1","187.23.45.6","112"],
              ["2017/09/13","交通","192.168.0.1","187.23.45.6","556"],
              ["2017/09/14","交通","192.168.0.1","187.23.45.6","224"],
              ["2017/09/15","交通","192.168.0.1","187.23.45.6","1120"],
              ["2017/09/16","交通","192.168.0.1","187.23.45.6","554"],
              ["2017/09/17","交通","192.168.0.1","187.23.45.6","1125"],
              ["2017/09/18","交通","192.168.0.1","187.23.45.6","557"],
    ]
    $('#tab2').DataTable( {
            ordering: false,
            data: arr1,
            aLengthMenu: [5,10, 25, 50],
            columns: [
                { title: "时间" },
                { title: "数据类型" },
                { title: "泄漏源" },
                { title: "流向IP"},
                { title: "端口"},
            ],
            oLanguage : {
                    "sProcessing" : "正在加载中......",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有数据！",
                    "sEmptyTable" : "表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "显示0到0条记录",
                    "sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
                    "sSearch" : "搜索",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                }
        } );

   
   // 敏感数据
    var arr2=[
              ["2017/08/21","交通","192.168.36.3","192.36.53.98","445"],
              ["2017/09/08","交通","192.5.6.3","192.5.3.6","223"],
              ["2017/09/10","交通","187.23.45.6","136.3.6.9","8808"],
              ["2017/08/11","交通","192.168.0.1","187.23.45.6","443"],
              ["2017/09/12","交通","192.168.0.1","187.23.45.6","112"],
              ["2017/09/13","交通","192.168.0.1","187.23.45.6","556"],
              ["2017/09/14","交通","192.168.0.1","187.23.45.6","224"],
              ["2017/09/15","交通","192.168.0.1","187.23.45.6","1120"],
              ["2017/09/16","交通","192.168.0.1","187.23.45.6","554"],
              ["2017/09/17","交通","192.168.0.1","187.23.45.6","1125"],
              ["2017/09/18","交通","192.168.0.1","187.23.45.6","557"],
    ]
    $('#tab3').DataTable( {
            ordering: false,
            data: arr2,
            columns: [
                { title: "时间" },
                { title: "数据类型" },
                { title: "泄漏源" },
                { title: "流向IP"},
                { title: "端口"},
            ],
            oLanguage : {
                    "sProcessing" : "正在加载中......",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有数据！",
                    "sEmptyTable" : "表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "显示0到0条记录",
                    "sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
                    "sSearch" : "搜索",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                }
        } );


    //刷新页面
    $("#refresh").click(function(event) {
      $.ajax({ 
          url: "pages/voucher.html",
          ype:"get",           
          dataType:"html",
          data: "",
          success:function(msg){ 
              $("#content").html(msg);
          } 
      })
    });
  

    
    //返回上一页
    $("#return").click(function(event) {
      $.ajax({ 
          url: "pages/"+parames[0]+".html",
          type:"get",           
          dataType:"html",
          data: "",
          success:function(msg){ 
              $("#content").html(msg);
          }           
      })
    });
  </script>
  
</html>