<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据泄露</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- <meta http-equiv="Cache-Control" content="max-age=7200" /> -->
    <script src='/static/proj/dist/js/timeline.js'></script>
    <link rel="stylesheet" href="/static/proj/dist/css/timeline.css">
    <link rel="stylesheet" href="/static/proj/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <script src="/static/proj/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
    <style>
      body{
        min-height: 100%;
        background-color: #ecf0f5;
        z-index: 800;
      }
      .filling_line{
        transform:scaleX(0.0);
      }

      h4{
        font-weight: 600;
        font-size: 24px;
      }
      h5{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      h5 i{
        margin-right: 5px;
      }

  .h-label{
        font-weight: 150;
        font-size: 18px;
        word-wrap : break-word;
        word-break:break-all;
        text-indent:20px;
        padding: 0px 15px;
        height:300px;
          overflow:auto;
      }

      table{
        font-size: 16px;
        text-align: center;
      }
      thead{
        font-weight: 700;
      }
      .font-color{
        /*color: #000!important;*/
      }
      .padd-left{
        padding-left:5px !important;
      }
      .padd-right{
        padding-right:5px !important;
      }
      .red{
        color:red;
      }
    </style>
  </head>
  <body>
    <!-- Content Wrapper. Contains page content -->
     <div class="">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="row">
          <div class="col-xs-1 com-lg-1" id="return">
            <button class="btn btn-tool btn-lg"><i class="fa fa-mail-reply"></i></button>
          </div>
          <div class="col-xs-8 col-lg-10">
            <h2 id="detail_head" style="margin-top:0px;">详情</h2>
          </div>
          <div class="col-xs-1 col-lg-1">
            <button class="btn btn-tool btn-lg" onclick="in_route('warningdetail')"><i class="fa fa-refresh"></i></button>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <div class="box box-solid">
              <div class="box-header with-border">
                <i class="fa fa-inbox"></i>
                <h3 class="box-title">告警详情</h3>
              </div><!-- /.box-header -->
              <div class="box-body row">
                <div class="col-md-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>告警位置</td>
                        <td>所属区域</td>
                        <td>IP</td>
                        <td>时间</td>
                      </tr>
                    </thead>
                    <tbody id="head_tbody">
                      <tr>
                        <td>服务器区</td>
                        <td>服务器区</td>
                        <td id="get_ip">0.0.0.0</td>
                        <td id="get_start_time">2017-11-22 11:15:30</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><!-- /.box-body-->
            </div>
                       <div class="row font-color">
              <div class="col-md-8 padd-right">
                <div class="box box-solid bg-red-gradient">
                  <div class="box-body row">
                    <div class="col-xs-12" style="border-right: 1px solid #f4f4f4">
                      <h5 class="text-center font-color"><i class="fa fa-hourglass"></i>威胁信息</h5>
                      <div class="h-label font-color" id="event_info">src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php</div>

                    </div><!-- ./col -->
                  </div><!-- /.box-body-->
                </div>
              </div>

              <div class="col-md-4 padd-left">
                <div class="box box-solid bg-light-blue-gradient">
                  <div class="box-body row">
                    <div class="col-xs-12">
                      <h5 class="text-center font-color"><i class="fa fa-calendar"></i>处置建议</h5>
                      <div class="h-label font-color" id="del_advice">2017-11.11:15:30, src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php2017-11.11:15:30, src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php2017-11.11:15:30, src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php2017-11.11:15:30, src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php2017-11.11:15:30, src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php2017-11.11:15:30, src:47.52.140.157, dst:221.232.138.204, sqlinjection, url:http://www.hbeducloud.com/s/app/data.php</div>
                    </div><!-- ./col -->
                  </div><!-- /.box-body-->
                </div>
              </div>
            </div><!-- /.row -->


            <div class="row">
              <div class="col-md-12">
                <!-- 处置建议 -->
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">处置建议</h3>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div>
                      <div class="form-group">
                      <label>处置</label>
                      <textarea id="extra" class="form-control" rows="3" placeholder="请输入建议 ..."></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-default" id="submail"><i class="fa fa-envelope-o"></i>寻求帮助</button>
                        <div class="pull-right">
                        <button type="submit" id="commit_own" class="btn btn-primary"><i class="fa fa-pencil"></i> 提交</button>
                      </div>
                    </div>
                    <div id="mail">
                      <div class="form-group">
                        <input class="form-control" placeholder="收件人:" id="mail_geters">
                      </div>
                      <div class="form-group">
                        <textarea id="compose-textarea" class="form-control" style="height: 300px">
                        </textarea>
                      </div>
                      <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary" onclick="send_email2()"><i class="fa fa-envelope-o"></i> 发送</button>
                      </div>
                    </div>
                  </div><!-- /.box-body -->
                </div><!-- /. box -->
              </div>
            </div>

          </section><!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">
            <!-- 水平时间轴 -->
            <div class="box box-danger">
              <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">处置</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div class="time_line_box">
                 <div class="time_line" style="width:100%;">
                  <div class="time_line_background" style="transform:scaleX(0.97); ">
                    <span class="filling_line"></span>
                    <ol  class="ol">
                      <li><a   class="order_item" style="left:0%;"></a></li>
                      <li><div class="order_item" style="left:32%;"></div></li>
                      <li><div   class="order_item" style="left:65%;"></div></li>
                      <li><div  class="order_item" style="left:96%;"></div></li>
                    </ol>
                  </div>
                  <ol>
                    <li><a  class="text_item"  style="left:-2%;">告警</a></li>
                    <li><a  class="text_item"  style="left:28%;">签收</a></li>
                    <li><a  class="text_item"  style="left:60%;">处置</a></li>
                    <li><a  class="text_item"  style="left:88%;">完成</a></li>
                  </ol>
                 </div>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer text-center">
                <div class="pull-right">
                  <button id="event_ignore" class="btn btn-warning btn-flat">忽略本事件</button>
                  <button  id="sure_complete" class="btn btn-primary btn-flat" style="margin-left:5px;">处理完成</button>
                </div>
              </div>
            </div><!-- /.box -->
            <!-- 垂直时间轴 处置详情 -->
            <div class="box box-success">
              <div class="box-header with-border">
                <i class="fa fa-inbox"></i>
                <h3 class="box-title">处置监督详情</h3>
              </div><!-- /.box-header -->
              <div class="box-body" id="event_detail_right">

              </div><!-- /.box-body -->
            </div><!-- /.box -->

          </section><!-- right col -->
        </div><!-- /.row (main row) -->

      </section><!-- /.content -->
    </div>
  </body>
  <script>
    $("#mail").hide();
    $("#submail").click(function(event) {
      $("#mail").slideDown('10', function() {

      });
    });
    run(0);
    run(1);

//    $('#sure_complete').hide()

   $.ajax({
      type:"GET",
      url:"/proj/event_stat/",
      dataType:"text",
      //data: {dat:dict},
      success:function(res){
          //console.log(res)
           if(parseInt(res) == 2){
               //console.log("处理状态")
               run(2)
               // delete the complete-button
//                $('#sure_complete').show()
           }
           if(parseInt(res) == 3){
               //console.log("完成状态")
               run(3)
//                $('#sure_complete').hide()

           }
      }
  });

    ////////** 注意在这里默认加载 **/
  $("#compose-textarea").wysihtml5();
    console.log(parames);
    // 返回上一页
     $("#return").click(function(event) {
        in_route(parames);
    })
  </script>

  <script type="text/javascript" language="javascript" class="init">
      $("#commit_own").click(function () {
          // 进入详情页的过程中存储id到sesion了
          var extra = document.getElementById("extra").value;
          $.ajax({
              type:"GET",
              url:"/proj/warning_del/?extra="+extra, //测试用,test_list
              dataType:"text",
              //data: {dat:dict},
              success:function(res){
                  //console.log("已经提交")
                   $("#commit_callback").text(res);
                  run(2);
//                  $('#sure_complete').show()
                  refresh_right()
              }
          });

      })

      //发送邮件
      function send_email2() {
              $.ajax({
                  type: "GET",
                  url: "/proj/utils/send_email/?mail_geters="+$('#mail_geters').val()+"&mail_content="+$('#compose-textarea').val(),//jsonstr
                  dataType: "text",
                  success: function (res) {
                      alert(res)
                      // refush the complete button
                      refresh_right()
                  }
              })
          }

          // 点击完成时间按钮
          $("#sure_complete").click(function () {
              $.ajax({
                  type:"GET",
                  url:"/proj/user_event_complete/",
                  dataType:"text",
                  //data: {dat:dict},
                  success:function(res){
                      //console.log("已经提交")
                       $("#commit_callback").text(res);
                      run(3);

                      // refush the complete button
                      refresh_right()
                  }
              });

          })

                // 点击完成时间按钮
          $("#event_ignore").click(function () {
              $.ajax({
                  type:"GET",
                  url:"/proj/user_event_ignore/",
                  dataType:"text",
                  //data: {dat:dict},
                  success:function(res){
                      //console.log("已经提交")
                       $("#commit_callback").text(res);
                      run(2);
                      // refush the complete button
                      refresh_right()
                      run(2.5)
                  }
              });

          })


          // 刷新处理日志
          function refresh_right() {
              $.ajax({
                  type:"GET",
                  url:"/proj/event_detail_right/",
                  dataType:"text",
                  //data: {dat:dict},
                  success:function(res){
                      //console.log("已经提交")
                       $("#event_detail_right").html(res);
                  }
              });
          }

          refresh_right()

               // 刷新处理日志
          function head_info() {
              $.ajax({
                  type:"GET",
                  url:"/proj/event_head_info/",
                  dataType:"json",
                  //data: {dat:dict},
                  success:function(res){
                      //console.log("已经提交")
                      data = res.res
                      console.log(data)
                      $("#event_info").html(data["event_info"])
                      $("#detail_head").html(data["detail_head"])
                      $("#del_advice").html(data["del_advice"])
                      $("#abledange").html(data["abledange"])

                      $("#get_ip").html(data["src_ip"])
                      $("#get_start_time").html(data["start_time"])

                      /// 不用额外写入。
                      //$("#extra").val(data["del_advice"])

                  }
              });
          }
          head_info()
  </script>


</html>